<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,61},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,373},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,433},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,433},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,435},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,493},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1},{58,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,493},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,495},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,63},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,123},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,125},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,125},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,185},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,187},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,187},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,247},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,249},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,249},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,309},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,311},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,63},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{60,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,311},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{60,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,555},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,555},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,555},{60,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,371},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,373},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,671},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,555},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{60,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,555},{60,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,669},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,555},{60,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,671},{60,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Willy.png</string>
            <key>size</key>
            <string>{474,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a8b69a99a5c7a951584fac380c8872:307503fdf52b39b754266c5a25c561f6:976c9ec243753c6eb2269fc972d0cd09$</string>
            <key>textureFileName</key>
            <string>Willy.png</string>
        </dict>
    </dict>
</plist>
