<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TCRIdle/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{60,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TCRIdle/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TCRCrumblingPlatform.png</string>
            <key>size</key>
            <string>{62,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b121205cdbcf0221ac7f6d8fd0b4d90f:6d437f6e75de742465f3524738fddfdd:4698a921f97dfd05d87cc64f2c370b42$</string>
            <key>textureFileName</key>
            <string>TCRCrumblingPlatform.png</string>
        </dict>
    </dict>
</plist>
