<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1934,1094}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1934,1094}}</string>
                <key>sourceSize</key>
                <string>{1934,1094}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_over.png</string>
            <key>size</key>
            <string>{1936,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e8feea060932e65a2d2dab0ab5bf113:02873b5a203029c524f3d46c3be01742:249af31fdc8386b230fd7d270d9e8a8e$</string>
            <key>textureFileName</key>
            <string>game_over.png</string>
        </dict>
    </dict>
</plist>
