<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1966,1126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1966,1126}}</string>
                <key>sourceSize</key>
                <string>{1966,1126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_over.png</string>
            <key>size</key>
            <string>{1968,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99966639520550fcea044d4bec575484:20e8ca3cd1a72e7517ca415bcd55385b:249af31fdc8386b230fd7d270d9e8a8e$</string>
            <key>textureFileName</key>
            <string>game_over.png</string>
        </dict>
    </dict>
</plist>
