<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1972,1132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1972,1132}}</string>
                <key>sourceSize</key>
                <string>{1972,1132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_over.png</string>
            <key>size</key>
            <string>{1974,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0f4c0db606e6d59d723511c611cf839:993fa7aceda8ea1f461c461068c8d79a:249af31fdc8386b230fd7d270d9e8a8e$</string>
            <key>textureFileName</key>
            <string>game_over.png</string>
        </dict>
    </dict>
</plist>
