<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BranSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BranSmallTest.png</string>
            <key>size</key>
            <string>{62,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7123e76f599b22bea8444521d4de1073:b0a2e143afbf7162c6590557e1d4ae60:730afeb4b8706a54b9cc383432256c53$</string>
            <key>textureFileName</key>
            <string>BranSmallTest.png</string>
        </dict>
    </dict>
</plist>
