<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CCIdle/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,869},{60,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,929},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCIdle/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,497},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,559},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,621},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,745},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,807},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,989},{60,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1037},{56,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1095},{42,56}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CCPop/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1095},{3,3}}</string>
                <key>offset</key>
                <string>{-28.5,28.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CCCrumblingPlatform.png</string>
            <key>size</key>
            <string>{63,1138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af6fef1df4ba6fd628822ba1c0fa2ef:4ee7b662512d279be2457d5014730f93:ed7040a9c378c3770c2156da2aec6e2f$</string>
            <key>textureFileName</key>
            <string>CCCrumblingPlatform.png</string>
        </dict>
    </dict>
</plist>
