cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
*.idb
*.tlog
*.db
*.opendb
Resources/
cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
proj.android-studio/.idea/
proj.android-studio/proj.android-studio.iml
proj.android-studio/app/GCFramework.iml
cocos2d/cocos/platform/android/libcocos2dx/build/
**/proj.win32/Debug.win32/
**/proj.win32/Release.win32/
*/BuildData/Debug*
*/BuildData/Release*
*.vcxproj.user
proj.win32/.vs/
**/Debug.*/
**/Release.*/
GCTemplate/proj.visualstudio/**/Release/
GCTemplate/proj.visualstudio/**/Debug/
**/.vs/
GCTemplate/proj.visualstudio/Cocos2d/assets/
ignoreme*
**/x86/Release*
**/x86/Debug*
**/ARM/Release*
**/ARM/Debug*
proj.visualstudio/Cocos2d/assets/
BuildData/Debug*/
BuildData/Release*/
*.user
