cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
*.idb
*.tlog
*.db
*.opendb
Resources/
cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
proj.android-studio/.idea/
proj.android-studio/proj.android-studio.iml
proj.android-studio/app/GCFramework.iml
cocos2d/cocos/platform/android/libcocos2dx/build/
proj.win32/Debug.win32/
proj.win32/Release.win32/
