<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlankEnemyCollider.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlankEnemyCollider.png</string>
            <key>size</key>
            <string>{60,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24a8a65f679e156ae46e48df4d47b50f:084d96811ede8f9c2c39fe9cced1c64e:9eb9e4399b3943cc7fb039e3a2d1ed68$</string>
            <key>textureFileName</key>
            <string>BlankEnemyCollider.png</string>
        </dict>
    </dict>
</plist>
