<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frames/WhiteSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,201},{290,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,280}}</string>
                <key>sourceSize</key>
                <string>{290,280}</string>
            </dict>
            <key>TimerBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{948,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{948,38}}</string>
                <key>sourceSize</key>
                <string>{950,40}</string>
            </dict>
            <key>WhiteSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{292,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,282}}</string>
                <key>sourceSize</key>
                <string>{292,282}</string>
            </dict>
            <key>air_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{824,42}}</string>
                <key>offset</key>
                <string>{33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,37},{824,42}}</string>
                <key>sourceSize</key>
                <string>{960,120}</string>
            </dict>
            <key>air_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{918,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{918,114}}</string>
                <key>sourceSize</key>
                <string>{960,120}</string>
            </dict>
            <key>ui_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{948,38}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,113},{948,38}}</string>
                <key>sourceSize</key>
                <string>{1020,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WhiteSquare.png</string>
            <key>size</key>
            <string>{950,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d72093923508babcdc286fe4f58dd4b:852b9ac4ef06a5025c8e920f0425a9ca:16b33dffb7a68852153b5c4b1e58f0ae$</string>
            <key>textureFileName</key>
            <string>WhiteSquare.png</string>
        </dict>
    </dict>
</plist>
