<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TMHazard/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,57},{52,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{52,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,59},{50,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1},{50,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,55},{50,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{50,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{48,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1},{48,52}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{48,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1},{52,50}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,55},{52,50}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{52,50}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{50,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{50,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,55},{48,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{48,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,57},{50,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{50,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{48,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,55},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{48,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,57},{50,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{52,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,53},{50,50}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,53},{48,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,55},{50,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,55},{52,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>TMHazard/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1},{52,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TMHazard.png</string>
            <key>size</key>
            <string>{674,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa4aca1b2a787d755da68207f4b87cd8:2657294b1ad5671ce0621003285e62ab:cf7a754b6a0ba65f1dfd7819b8534f76$</string>
            <key>textureFileName</key>
            <string>TMHazard.png</string>
        </dict>
    </dict>
</plist>
