<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,778}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,302},{1920,778}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_background_4.png</string>
            <key>size</key>
            <string>{1922,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d085784c580b0d7bef2f3e37d86fc0f1:e5f77492aea56baa8d8cba2321f816b1:12fce3ff4c7e72c4b11fa439e03c22b3$</string>
            <key>textureFileName</key>
            <string>auw_background_4.png</string>
        </dict>
    </dict>
</plist>
