<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_background_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1916,1064}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{1916,1064}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_background_5.png</string>
            <key>size</key>
            <string>{1918,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae88c6134535398e27aef4bdea7b3757:e601665e39715646573fb88f94a7edaf:34bea0837e1a11ada055a3f486414dfb$</string>
            <key>textureFileName</key>
            <string>auw_background_5.png</string>
        </dict>
    </dict>
</plist>
