<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{954,80}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,73},{954,80}}</string>
                <key>sourceSize</key>
                <string>{1020,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_Bar.png</string>
            <key>size</key>
            <string>{956,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f9e7c1a10d0017c8726f34a37a47963:5dfafcd5feb5c4242872e1509717c0b0:399638ccfd474ee0a8c616118a7f542d$</string>
            <key>textureFileName</key>
            <string>UI_Bar.png</string>
        </dict>
    </dict>
</plist>
