<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_collectible_key_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_collectible_key_60x60.png</string>
            <key>size</key>
            <string>{62,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def5d050f95ac9b83d5d62c29162ca23:158857af91ae8cf1b133ee93c84e5b33:032505e9802f23b71ca33d53872960fe$</string>
            <key>textureFileName</key>
            <string>tm_collectible_key_60x60.png</string>
        </dict>
    </dict>
</plist>
