<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_hazard_spider_short_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_hazard_spider_short_60x60.png</string>
            <key>size</key>
            <string>{62,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c778c3b86b3695af4cda05d98957b6:8122e396cbf728d9245e50b3cca2ad4d:2e6a3104e59a3045d67a6933f2a16007$</string>
            <key>textureFileName</key>
            <string>tm_hazard_spider_short_60x60.png</string>
        </dict>
    </dict>
</plist>
