<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_hazard_spider_long_60x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{56,110}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_hazard_spider_long_60x120.png</string>
            <key>size</key>
            <string>{58,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2583f97f6a0a865f596e52cf83da72aa:267ced844358ca8068d9bf550317d3e1:0d45b3ff9e9294789b5760f53952ba13$</string>
            <key>textureFileName</key>
            <string>tm_hazard_spider_long_60x120.png</string>
        </dict>
    </dict>
</plist>
