<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_moving_360x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,58}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_moving_360x60.png</string>
            <key>size</key>
            <string>{362,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e896256ebc6521ad88803d4ed599c4a6:69dc57b86b94d976e7d8693a2f157509:bc7df02ac65d65e50c0ad6ebdd2d358a$</string>
            <key>textureFileName</key>
            <string>tm_platform_moving_360x60.png</string>
        </dict>
    </dict>
</plist>
