<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_brick_120x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_brick_120x60.png</string>
            <key>size</key>
            <string>{122,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdfaa0c53cce2619ffd3e231da4fc0f4:b24c916fd83ea9f24b5779489316b4ae:d66005a68923538361ce38cf07999df4$</string>
            <key>textureFileName</key>
            <string>tm_platform_brick_120x60.png</string>
        </dict>
    </dict>
</plist>
