<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_brick_60x960.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,960}}</string>
                <key>sourceSize</key>
                <string>{60,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_brick_60x960.png</string>
            <key>size</key>
            <string>{62,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2320c252b24f8090901ae759ebebc413:73e35809e40eda25d7597b4d08114099:850b3c2c781da3ff3084e0f8d496ce48$</string>
            <key>textureFileName</key>
            <string>tm_platform_brick_60x960.png</string>
        </dict>
    </dict>
</plist>
