<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_brick_60x240.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,240}}</string>
                <key>sourceSize</key>
                <string>{60,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_brick_60x240.png</string>
            <key>size</key>
            <string>{62,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5650bb61ab2be2be261ba4ecf64122b2:6909119f73bafc3324f0a0ff2c9fff78:4007e6acaf36609b4ed5df3658e2c27b$</string>
            <key>textureFileName</key>
            <string>tm_platform_brick_60x240.png</string>
        </dict>
    </dict>
</plist>
