<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_regular_660x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{660,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,60}}</string>
                <key>sourceSize</key>
                <string>{660,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_regular_660x60.png</string>
            <key>size</key>
            <string>{662,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d42be2a0a6942e33a9c351bb3fe2ba1:b367584b43ebceeab05fc0be4dac6c5c:811ac2789e68980298131ec8119e8b3e$</string>
            <key>textureFileName</key>
            <string>tm_platform_regular_660x60.png</string>
        </dict>
    </dict>
</plist>
