<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_ground_1200x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1260,46}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1260,46}}</string>
                <key>sourceSize</key>
                <string>{1260,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_ground_1200x60.png</string>
            <key>size</key>
            <string>{1262,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3765d379b1c3746c61abf04365d845b:68c5be4a2dc838a2a94021413126f498:f81a0fcd48fdaaec0cf02c8dc61a9eac$</string>
            <key>textureFileName</key>
            <string>tm_platform_ground_1200x60.png</string>
        </dict>
    </dict>
</plist>
