<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_regular_540x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{540,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,60}}</string>
                <key>sourceSize</key>
                <string>{540,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_regular_540x60.png</string>
            <key>size</key>
            <string>{542,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c90c95994a9dc0c3c45baec558edae72:2905942784dbd514a401027d2d624895:b371731dc9c534efc7950354596a601a$</string>
            <key>textureFileName</key>
            <string>tm_platform_regular_540x60.png</string>
        </dict>
    </dict>
</plist>
