<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_brick_60x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_brick_60x120.png</string>
            <key>size</key>
            <string>{62,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f7f4f8a6be8b2056c7203c59f1092f:7ef63979a0a571d46165833d9fdc9e7c:3578248d20d10f56e89557bb210d0527$</string>
            <key>textureFileName</key>
            <string>tm_platform_brick_60x120.png</string>
        </dict>
    </dict>
</plist>
