<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_platform_brick_60x600-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,540}}</string>
                <key>sourceSize</key>
                <string>{60,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_platform_brick_60x600-05.png</string>
            <key>size</key>
            <string>{62,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d3dbe30a8be345ab912d213bc7a786d:bcc06b3fd6ba017ea788f87a25ec8f29:dab84256232009d2561240e407541639$</string>
            <key>textureFileName</key>
            <string>tm_platform_brick_60x600-05.png</string>
        </dict>
    </dict>
</plist>
