<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_360x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,60}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_360x60.png</string>
            <key>size</key>
            <string>{362,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a4e80facdb87053b8d0bffe44486a70:e95d20f863d319d76989c704351aba99:d27bc2ae70e1c2c9ffca34497090a879$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_360x60.png</string>
        </dict>
    </dict>
</plist>
