<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,180}}</string>
                <key>sourceSize</key>
                <string>{60,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x180.png</string>
            <key>size</key>
            <string>{62,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b84af7bda585a285a366ed36759485af:38d83069b9465615f096bbda955731af:dc2ea7abb5dffa41b91dbdd8c9b3a9b1$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x180.png</string>
        </dict>
    </dict>
</plist>
