<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,600}}</string>
                <key>sourceSize</key>
                <string>{60,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x600.png</string>
            <key>size</key>
            <string>{62,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa8d876cb9346137dc8de171b91d00b:690250942d9d294507bbb395c31ed1dd:a3e5587536a1f383b52e44b4b2d25ade$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x600.png</string>
        </dict>
    </dict>
</plist>
