<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_regular_120x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_regular_120x60.png</string>
            <key>size</key>
            <string>{122,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f626a6455967bad45952d2361efd033c:976f0b9097bd0e422b4b822f603eafd2:7ce4196d87cf4ea71f965d1754e76387$</string>
            <key>textureFileName</key>
            <string>auw_platform_regular_120x60.png</string>
        </dict>
    </dict>
</plist>
