<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_ground_1800x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1800,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,52}}</string>
                <key>sourceSize</key>
                <string>{1800,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_ground_1800x60.png</string>
            <key>size</key>
            <string>{1802,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad827f7f1aa25f4b46efa6f7a3daeef:fef11b42179747de2e68d09756e76805:ea7c75a928591b08de3d90a002a3418b$</string>
            <key>textureFileName</key>
            <string>auw_platform_ground_1800x60.png</string>
        </dict>
    </dict>
</plist>
