<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x780.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,780}}</string>
                <key>sourceSize</key>
                <string>{60,780}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x780.png</string>
            <key>size</key>
            <string>{62,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ec75c8d4669d8eef34b57c517ed6bc2:33c7dec77ad0b0caa9be33c02c044ac0:63409fc9c7109912f4a6581c2f533414$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x780.png</string>
        </dict>
    </dict>
</plist>
