<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_collectable_switch_off_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_collectable_switch_off_60x60.png</string>
            <key>size</key>
            <string>{62,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e7779a04535c849a69c4f3b47f1cec:b1d11f0818ca6d0929bf393122ff7af0:cb28318c41434691daa474c0c24170d7$</string>
            <key>textureFileName</key>
            <string>auw_collectable_switch_off_60x60.png</string>
        </dict>
    </dict>
</plist>
