<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_brick_60x240.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,240}}</string>
                <key>sourceSize</key>
                <string>{60,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_brick_60x240.png</string>
            <key>size</key>
            <string>{62,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5caf68064d695867639c37d059d30e6:3d16e05cb27184b1f4af3a6056962fee:b927295349a65ccaa609d15873361fcf$</string>
            <key>textureFileName</key>
            <string>auw_platform_brick_60x240.png</string>
        </dict>
    </dict>
</plist>
