<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_platform_moving_1320x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1320,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1320,60}}</string>
                <key>sourceSize</key>
                <string>{1320,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_platform_moving_1320x60.png</string>
            <key>size</key>
            <string>{1322,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309413c01567101869565cb53ed4d5e4:9c7597a15da94b50c4cf1023f5d7d135:70bdcee64624e6b0b342f7bd832c6b36$</string>
            <key>textureFileName</key>
            <string>auw_platform_moving_1320x60.png</string>
        </dict>
    </dict>
</plist>
