<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auw_hazard_downward_spike_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>auw_hazard_downward_spike_60x60.png</string>
            <key>size</key>
            <string>{62,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a52b7f63b6d48e6c3984bde39eb1c37:cb220f77f1cb5c901b3279478eec5b75:845ee16f5b463a83c31d175e0ee776d4$</string>
            <key>textureFileName</key>
            <string>auw_hazard_downward_spike_60x60.png</string>
        </dict>
    </dict>
</plist>
