<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TMHazardDown/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{42,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{48,114}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{52,110}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{52,110}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{50,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1},{48,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{56,108}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{56,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>TMHazardDown/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{38,108}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{38,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TMHazardDown.png</string>
            <key>size</key>
            <string>{348,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765f39f2e2234e6243a67155369c2b09:2b80965cbc29fd4056443f57cf05fe0c:2c2ed3c4f049babcdf29568c422d1c04$</string>
            <key>textureFileName</key>
            <string>TMHazardDown.png</string>
        </dict>
    </dict>
</plist>
