<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_single_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_single_brick.png</string>
            <key>size</key>
            <string>{62,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:919e2873595a87cbc7bae3f969d1832c:94dc7c1f6132056a8688d55269ed73f3:3ed40dc933a9653fd2bd68e452a3f0d9$</string>
            <key>textureFileName</key>
            <string>cc_platform_single_brick.png</string>
        </dict>
    </dict>
</plist>
