<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,1256}}</string>
                <key>offset</key>
                <string>{212,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1137,0},{70,1256}}</string>
                <key>sourceSize</key>
                <string>{1920,1256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Light.png</string>
            <key>size</key>
            <string>{72,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57dcc4ebd8e1ee20bb1b36a82a15974:a297d6010fc715ff508edf495a09f5ef:9bfad6c1af9b338990106c506d950c0a$</string>
            <key>textureFileName</key>
            <string>Light.png</string>
        </dict>
    </dict>
</plist>
