<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BranSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>Frames/00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>SiSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BranSmall.png</string>
            <key>size</key>
            <string>{126,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f00caf3f53e56e23be7b9d85f526b68:42a172adff774592390badb4fb004dac:86ee23ef0a145eb17aac5557528b7ede$</string>
            <key>textureFileName</key>
            <string>BranSmall.png</string>
        </dict>
    </dict>
</plist>
