<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PEnemyIdle/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{50,82}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{50,82}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,87},{50,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{50,84}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,177},{54,78}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{54,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{56,78}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{56,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,169},{56,80}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{56,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,85},{56,80}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{56,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{56,80}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{56,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,175},{58,80}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{58,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,173},{56,82}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{56,82}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,167},{54,80}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{54,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,83},{54,80}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{54,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{54,80}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{54,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,165},{54,80}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{54,80}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,85},{56,82}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{56,82}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,89},{56,84}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{56,84}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{56,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{56,84}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{58,86}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{58,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{58,86}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1},{54,86}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{54,86}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>PEnemyIdle/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,87},{52,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{52,84}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PenguinEnemy.png</string>
            <key>size</key>
            <string>{402,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48e7b2b84c494232e5cda0ad1caf4125:bee2371d5c251d12c1fb42612acc36d9:692f7469e8d9a0335e35a968122bca99$</string>
            <key>textureFileName</key>
            <string>PenguinEnemy.png</string>
        </dict>
    </dict>
</plist>
