<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_regular_360x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,56}}</string>
                <key>sourceSize</key>
                <string>{360,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_regular_360x60.png</string>
            <key>size</key>
            <string>{362,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9a43c167363b118c4695b2becc40f9a:73f1f12caf32cd1345518cb16100466f:933af8c3c7b837b006feb7e7acbcd803$</string>
            <key>textureFileName</key>
            <string>tcr_platform_regular_360x60.png</string>
        </dict>
    </dict>
</plist>
