<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1800,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1800,60}}</string>
                <key>sourceSize</key>
                <string>{1800,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_ground.png</string>
            <key>size</key>
            <string>{1802,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9e093ea77371d47c5bed83dc223616:c774da7fe93b0fd7205bfc14419d65c4:00c453a29ddbcdc03bcdc97a2d46b97c$</string>
            <key>textureFileName</key>
            <string>tcr_platform_ground.png</string>
        </dict>
    </dict>
</plist>
