<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_brick_60x480.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,476}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,476}}</string>
                <key>sourceSize</key>
                <string>{60,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_brick_60x480.png</string>
            <key>size</key>
            <string>{62,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7f3af510f1d63e176e024172234340a:599eb6342e3f368910cb9e3ebe8da9f3:718296438592116df96a28c2ef5a0a4e$</string>
            <key>textureFileName</key>
            <string>tcr_platform_brick_60x480.png</string>
        </dict>
    </dict>
</plist>
