<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_platform_brick_60x420.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,420}}</string>
                <key>sourceSize</key>
                <string>{60,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_platform_brick_60x420.png</string>
            <key>size</key>
            <string>{62,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0122b434ed15e98cc9f9d4b3bcc0dfbd:b9cfd4540a66220ded87b1cae6a0714f:b9d6f47eb81362d8529cdfe0e9e74f35$</string>
            <key>textureFileName</key>
            <string>tcr_platform_brick_60x420.png</string>
        </dict>
    </dict>
</plist>
