<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_background_2.png</string>
            <key>size</key>
            <string>{1922,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811b2656a337a4135d49789b2df840a7:5bd9d31e4edfedace07b5088ea40d3ba:593a9d7fae45b05764b4afa910b94239$</string>
            <key>textureFileName</key>
            <string>cc_background_2.png</string>
        </dict>
    </dict>
</plist>
