<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1848,320}}</string>
                <key>offset</key>
                <string>{11,-320}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,700},{1848,320}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_background_4.png</string>
            <key>size</key>
            <string>{1850,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067589d98e45891f894769770ced0941:a38025d88255f210e200118868bfa6cb:c8a6110bf9fe14b203f03efee53886a3$</string>
            <key>textureFileName</key>
            <string>cc_background_4.png</string>
        </dict>
    </dict>
</plist>
