<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_background.png</string>
            <key>size</key>
            <string>{1922,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a2007916aa4fbb38fceee372da7e4e5:e22a2a35b011c58bbf0fcd2fa5431278:72015db4282ab5565f190a43a45f6d55$</string>
            <key>textureFileName</key>
            <string>cc_background.png</string>
        </dict>
    </dict>
</plist>
