<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BasicEnemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BasicEnemy.png</string>
            <key>size</key>
            <string>{62,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b67494dfc1c558ce1415566c5690cd:0b8bfd3e11ea6b528be056717fa05a5b:3c0b3d36776f536e09d42824f9891a0a$</string>
            <key>textureFileName</key>
            <string>BasicEnemy.png</string>
        </dict>
    </dict>
</plist>
