<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_regular_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{240,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,54}}</string>
                <key>sourceSize</key>
                <string>{240,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_regular_240x60.png</string>
            <key>size</key>
            <string>{242,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76811b06f296ddfa742ce14cdd37b0f1:b73e41ef307d31fcbdd56e05bb6b7c82:93826ad83cc56af71f9fc5f94dc83225$</string>
            <key>textureFileName</key>
            <string>cc_platform_regular_240x60.png</string>
        </dict>
    </dict>
</plist>
