<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_regular_420x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{420,44}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,44}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_regular_420x60.png</string>
            <key>size</key>
            <string>{422,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376efc2f01bcfe9c2a393c84fc0bfe39:0cbff78cdeda3824b1dd45eb0b3c16af:ddf8bd5ceb29bb64b154a3d8f8609cc7$</string>
            <key>textureFileName</key>
            <string>cc_platform_regular_420x60.png</string>
        </dict>
    </dict>
</plist>
