<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_regular_180x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_regular_180x60.png</string>
            <key>size</key>
            <string>{182,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:388b701be3b0b53bc3b2a9190352d3ca:70bc228d095878eaeab89f5ded95c23e:93e97c310f0068d05ebe013b04793f66$</string>
            <key>textureFileName</key>
            <string>cc_platform_regular_180x60.png</string>
        </dict>
    </dict>
</plist>
