<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platform_brick_60x960.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,960}}</string>
                <key>sourceSize</key>
                <string>{60,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platform_brick_60x960.png</string>
            <key>size</key>
            <string>{62,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ac1bb39a2da20cedeb309b18159095:764e9ba7c8b6afacfe4dd23777925719:200fd27cfc767f765ab4eb59f3c0a847$</string>
            <key>textureFileName</key>
            <string>cc_platform_brick_60x960.png</string>
        </dict>
    </dict>
</plist>
