<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_platfrom_regular_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,46}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_platfrom_regular_60x60.png</string>
            <key>size</key>
            <string>{62,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa86556d37caa02a50f77d6e0c75f7e0:e061dc885e240227bd6ac06c6bbd7137:331c8ce2a2f1504fe1dd502e178faf09$</string>
            <key>textureFileName</key>
            <string>cc_platfrom_regular_60x60.png</string>
        </dict>
    </dict>
</plist>
