<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frames/LongPlatformTest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{146,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{146,24}}</string>
                <key>sourceSize</key>
                <string>{150,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LongPlatformTest.png</string>
            <key>size</key>
            <string>{148,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae7bedef77f937888726d10124bb5a6:936574584721baff87392cd032bf60b8:e58eb2ec22149aed2b6b8e69d90c65fb$</string>
            <key>textureFileName</key>
            <string>LongPlatformTest.png</string>
        </dict>
    </dict>
</plist>
