<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>final 2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,777},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,855},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,907},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,933},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,959},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,985},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1011},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1037},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1063},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1089},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1115},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1141},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1167},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1193},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1219},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1245},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1271},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1297},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1323},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1349},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1375},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1401},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1427},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1453},{1920,24}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,317},{1920,24}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,25},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,625},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
            <key>final 2_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,649},{1920,22}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,319},{1920,22}}</string>
                <key>sourceSize</key>
                <string>{1920,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TravelatorPlatformAnimated.png</string>
            <key>size</key>
            <string>{1922,1478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cdc9b1d69ac3f9968aebdb1c2e3c3c6:209ee9f33741c17a091c64ab0a3d7f1e:bee4b8b584d0ca165d577190a5e50c16$</string>
            <key>textureFileName</key>
            <string>TravelatorPlatformAnimated.png</string>
        </dict>
    </dict>
</plist>
