<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyIdle/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{54,74}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,81},{54,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,397},{54,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,159},{52,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{52,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,237},{52,74}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{52,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,545},{52,72}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{52,72}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{54,72}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{54,72}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,473},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,549},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{54,76}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{52,78}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{52,78}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,317},{50,78}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{50,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,81},{54,76}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{54,76}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,159},{54,76}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,157},{54,74}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{54,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,393},{54,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,235},{52,74}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{52,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,311},{52,74}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{52,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,387},{52,74}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{52,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,469},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,463},{54,74}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{54,74}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,79},{54,76}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,78}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{56,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{52,78}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{52,78}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,237},{52,78}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{52,78}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{52,78}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>EnemyIdle/final-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{54,76}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{54,76}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SealEnemy.png</string>
            <key>size</key>
            <string>{224,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03dbca1d4984e404c8064c29bd5f61e2:aa1c35e2f552da98b69e5841177b9c8d:884047bb12e7919b3124d309973e135f$</string>
            <key>textureFileName</key>
            <string>SealEnemy.png</string>
        </dict>
    </dict>
</plist>
