<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{464,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{464,100}}</string>
                <key>sourceSize</key>
                <string>{480,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>exit_pressed.png</string>
            <key>size</key>
            <string>{466,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30d5cfbe4c1786705ff04dce26befed:3d0f44d06f9e18693202be9228c0beb2:b2f200fdd0550c069ae82a5ccaec13f1$</string>
            <key>textureFileName</key>
            <string>exit_pressed.png</string>
        </dict>
    </dict>
</plist>
