<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{464,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{464,100}}</string>
                <key>sourceSize</key>
                <string>{480,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_hover.png</string>
            <key>size</key>
            <string>{466,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a922e47a04be484d9a72429f5bdfcbec:28febfd8f1eae4cec5da32a240c2bab1:c9826df468a25e70d1264e3faacd7700$</string>
            <key>textureFileName</key>
            <string>play_hover.png</string>
        </dict>
    </dict>
</plist>
