<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{464,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{464,100}}</string>
                <key>sourceSize</key>
                <string>{480,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_pressed.png</string>
            <key>size</key>
            <string>{466,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7dd07c10554f38f873a078ac3969ee6:3340784a4a312cf64cb8298674770b0d:2f402d1a73c8e87f398b78aa8616ce19$</string>
            <key>textureFileName</key>
            <string>play_pressed.png</string>
        </dict>
    </dict>
</plist>
