<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PuIdle/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,363},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,483},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,123},{118,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,243},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{118,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,723},{118,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,839},{118,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1075},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,841},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,957},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,959},{118,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>PuIdle/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,603},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PufferEnemy.png</string>
            <key>size</key>
            <string>{244,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3573cec285529058266cc46c4853f97a:be222fda6e251690e478b72b586c128b:274772bfbf9589bf68e89999e80434fb$</string>
            <key>textureFileName</key>
            <string>PufferEnemy.png</string>
        </dict>
    </dict>
</plist>
