<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_ladder_middle_120x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_ladder_middle_120x60.png</string>
            <key>size</key>
            <string>{112,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f39123114006c4ce0ad9e429f35bff9:1aeae12f19dbb86d2b71e821424b8b1d:b0385c7ccf9789554edcdf579407ad75$</string>
            <key>textureFileName</key>
            <string>tm_ladder_middle_120x60.png</string>
        </dict>
    </dict>
</plist>
