<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tcr_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1710,718}}</string>
                <key>offset</key>
                <string>{-57,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,361},{1710,718}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcr_background_2.png</string>
            <key>size</key>
            <string>{1712,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8155cee8f24696ae4d5d05fe7eddfb:8061951868654233b3be31431d6340cc:8d8fb0cf534a83eaa7d648e3927ecee6$</string>
            <key>textureFileName</key>
            <string>tcr_background_2.png</string>
        </dict>
    </dict>
</plist>
