<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,239},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,237},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,119},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,357},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,355},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,237},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,119},{58,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,119},{58,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,355},{58,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Idle/final-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,295},{54,106}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{54,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,237},{56,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{56,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,465},{56,104}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{56,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,351},{58,106}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,295},{56,106}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{56,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,119},{56,106}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{56,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,465},{56,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,469},{56,102}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,469},{54,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{54,100}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,473},{56,102}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,353},{56,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,459},{56,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,295},{56,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,353},{56,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,457},{56,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,235},{56,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,351},{56,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,353},{56,104}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,225},{56,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,469},{56,100}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{56,100}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,351},{54,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{54,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,515},{54,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{54,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,329},{56,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,411},{56,104}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,459},{56,104}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,457},{56,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{56,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,433},{56,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{56,102}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,465},{58,104}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{58,104}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,237},{58,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{58,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,117},{56,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{56,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,351},{54,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{54,106}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Jump/final-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,237},{56,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,237},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,119},{60,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,237},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,351},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,237},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{60,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,119},{60,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,353},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,237},{60,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1},{60,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,116}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1},{60,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,351},{60,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,237},{60,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,353},{60,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>Run/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,118}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Willy.png</string>
            <key>size</key>
            <string>{1000,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15c91665ad31634547092747471b5a9:55cf03e9b139b18210feb86cf0b423e8:976c9ec243753c6eb2269fc972d0cd09$</string>
            <key>textureFileName</key>
            <string>Willy.png</string>
        </dict>
    </dict>
</plist>
