<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1894,856}}</string>
                <key>offset</key>
                <string>{-7,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,211},{1894,856}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_background_3.png</string>
            <key>size</key>
            <string>{1896,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81092b60a12ab44cb58c24511a06da8e:abc3b2e376217fddccfab640653b15c7:ba8f6bc58b44b439c4305c3569efdaf9$</string>
            <key>textureFileName</key>
            <string>tm_background_3.png</string>
        </dict>
    </dict>
</plist>
