<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1412,590}}</string>
                <key>offset</key>
                <string>{148,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,262},{1412,590}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tm_background_2.png</string>
            <key>size</key>
            <string>{1414,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5259cc2c8f24033ecab3c51acf938b8:0dc8025efcb329f2dec849cdc747417b:9a593f8250bb0ffead05ee140d3664e8$</string>
            <key>textureFileName</key>
            <string>tm_background_2.png</string>
        </dict>
    </dict>
</plist>
