<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExitIdle/portal0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1},{110,102}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{110,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1},{110,102}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{110,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1},{96,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{96,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1},{96,110}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{96,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{96,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{96,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{96,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{96,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{104,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{104,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1},{98,112}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1},{98,112}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{98,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{106,116}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{106,116}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{118,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{118,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{112,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{112,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{96,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{96,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{98,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ExitIdle/portal0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{98,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_exit.png</string>
            <key>size</key>
            <string>{1144,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad5099d4ac3fc344fc08ad44d4cb637:bc3b123c4dc96574a7c860d16378c79e:a2cddae9742ae298cb2d1bbe44222e7f$</string>
            <key>textureFileName</key>
            <string>cc_exit.png</string>
        </dict>
    </dict>
</plist>
