<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cc_exit.png</string>
            <key>size</key>
            <string>{118,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eadad71025b5cb399bc55f9bfa20b91:a9cc7eab8e216f12d95790074afe3bdc:a2cddae9742ae298cb2d1bbe44222e7f$</string>
            <key>textureFileName</key>
            <string>cc_exit.png</string>
        </dict>
    </dict>
</plist>
