<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UEnemyIdle/final-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,89},{54,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{54,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,179},{54,88}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{54,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,297},{50,88}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{50,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{48,90}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{48,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{44,92}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{44,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{46,92}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{46,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,49},{46,94}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{46,94}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{46,94}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{46,94}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,97},{48,96}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{48,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,147},{48,96}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{48,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{48,94}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{48,94}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,349},{52,94}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{52,94}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{54,92}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{54,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,457},{54,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{54,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,449},{58,90}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{58,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,513},{56,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{56,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,513},{56,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{56,90}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,403},{52,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{52,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,197},{48,96}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{48,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,247},{48,96}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{48,96}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{48,94}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{48,94}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{48,92}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{48,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{48,92}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{48,92}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,269},{52,88}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{52,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{50,88}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{50,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{52,86}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{52,86}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,359},{54,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{54,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>UEnemyIdle/final-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{54,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{54,88}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PirateEnemy.png</string>
            <key>size</key>
            <string>{250,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fcb14f4b18fdfd73fefaad71bb484ff:f639071b24505f9433823496c906971e:89dc7df7470c240470bde194997650b9$</string>
            <key>textureFileName</key>
            <string>PirateEnemy.png</string>
        </dict>
    </dict>
</plist>
