<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>empty_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>empty_heart.png</string>
            <key>size</key>
            <string>{64,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960dac7f3aecfddaa07a8676a70427b7:1472f8248f45595e7d7d47be01827421:a94355896b83bb91a194de59633f1526$</string>
            <key>textureFileName</key>
            <string>empty_heart.png</string>
        </dict>
    </dict>
</plist>
