<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>empty_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,46}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>empty_heart.png</string>
            <key>size</key>
            <string>{52,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f22ec9b63d3386a3509f22886a3b27:31e885b25a355630cf5f87f4a54a9eff:a94355896b83bb91a194de59633f1526$</string>
            <key>textureFileName</key>
            <string>empty_heart.png</string>
        </dict>
    </dict>
</plist>
