<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>life_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>life_full.png</string>
            <key>size</key>
            <string>{194,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa7dc9c39f77723d9f79bcd69489b7a:48561532413ad1a91e434b6ecf5d54ac:c8d8f78f416db682e7524aff28d1d1cf$</string>
            <key>textureFileName</key>
            <string>life_full.png</string>
        </dict>
    </dict>
</plist>
