<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>life_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>life_full.png</string>
            <key>size</key>
            <string>{158,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b534031d9f1d8db50852d1299b529ddc:f266ffe3f531c474d12958a22872d463:c8d8f78f416db682e7524aff28d1d1cf$</string>
            <key>textureFileName</key>
            <string>life_full.png</string>
        </dict>
    </dict>
</plist>
