<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>life_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>life_full.png</string>
            <key>size</key>
            <string>{130,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9556e9001e1ac769885c4532d1cc4cfb:952a68dca35864a42431f2124f5af443:c8d8f78f416db682e7524aff28d1d1cf$</string>
            <key>textureFileName</key>
            <string>life_full.png</string>
        </dict>
    </dict>
</plist>
