<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_life_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,72},{54,92}}</string>
                <key>sourceSize</key>
                <string>{60,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_life_lost.png</string>
            <key>size</key>
            <string>{56,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbd52123d6a18d87f817a9f0a946ffcb:42702e7260b99d231e934a0e5bedfd15:d0c3fd12cb38f3e678fa07287d3123c3$</string>
            <key>textureFileName</key>
            <string>ui_life_lost.png</string>
        </dict>
    </dict>
</plist>
