<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cc_hazard_downward_spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,48}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DownwardSpike.png</string>
            <key>size</key>
            <string>{62,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d045fc74c9e5c37cffe404b5a012f378:d4db71274551189e3eeb58fdd126bf94:1ff573fb71ca53342ff51f13d442b338$</string>
            <key>textureFileName</key>
            <string>DownwardSpike.png</string>
        </dict>
    </dict>
</plist>
